
/* universal css property start */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* universal css property end */

/* common css start */

/* common css end */

/* header part start */

/* nav section start */
/* nav section end */


/* hero section start */
/* hero section end */

/*  header part end */




/* main part start */

/* main part end */




/* footer part start */

/* footer part end */