/* universal css property start */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.fira-sans-font {
  font-family: "Fira Sans", serif;
  font-style: normal;
}
body {
  width: 1280px;
  margin: 0 160px;
  background-color: #f5f5f5;
}
/* universal css property end */

/* common css start */
.section-title {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  padding-bottom: 24px;
}
.description {
  font-size: 16px;
  font-weight: 400;
  color: #0e0e0e;
  opacity: 70%;
  line-height: 24px;
  padding-bottom: 32px;
}
/* common css end */

/* header part start */

/* nav section start */
nav {
  padding: 31px 0 44px 0;
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
}
.nav-btn {
  width: 116px;
  height: 52px;
  /* padding: 15px 30px; */
  border: 1px solid #006a50;
  border-radius: 8px;
  color: #006a50;
  font-size: 18px;
  font-weight: 600;
}
.nav-btn:hover {
  border: none;
  color: #0e0e0e;
  background-color: #c6e4d6;
  transition: 0.3s;
}
/* nav section end */

/* hero section start */
.hero {
  display: flex;
  justify-content: space-between;
  background-color: #c6e4d6;
  border-radius: 24px;
  gap: 64px;
  height: 560px;
}
.hero-content {
  margin: 117px 0 117px 60px;
  width: 622px;
  height: 326px;
}
.hero-text {
  width: 622px;
  height: 246px;
  margin-bottom: 24px;
}
.hero-sub-title {
  color: #0e0e0e;
  font-size: 24px;
  font-weight: 500;
}
.hero-title {
  color: #0e0e0e;
  font-size: 56px;
  font-weight: 700;
  line-height: auto;
}
.hero-btn {
  width: 270px;
  height: 56px;
  /* padding: 17px 34px; */
  border: 1px solid #006a50;
  border-radius: 8px;
  color: #ffff;
  background-color: #006a50;
  font-size: 18px;
  font-weight: 600;
  border: none;
}
.hero-btn:hover {
  color: #ffff;
  background-color: red;
  transition: 0.5s;
}
.hero-bg-image {
  width: 474px;
  height: 400px;
  margin: 80px 60px 80px 0;
}

/* hero section end */
/*  header part end */

/* main part start */
/* pillar section start  */
.pillar {
  padding-top: 80px;
  height: 324px;
}
.pillar-card {
  display: flex;
  gap: 24px;
}
.pillar-card-main {
  width: 302px;
  height: 244px;
  background-color: #ffff;
  border-radius: 16px;
  margin-top: 32px;
}
.pillar-card-img {
  width: 64px;
  height: 64px;
  margin: 24px 0 0 24px;
}
.pillar-card-text {
  margin: 24px;
}
.pillar-card-text-title {
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0e;
  opacity: 80%;
  margin-bottom: 12px;
}
/* pillar section end */
/* vision section start */
.vision {
  /* height: 765px; */
  padding: 80px 0;
}
.vision-card {
  margin: 32px 0;
  display: flex;
  gap: 24px;
}
.vision-card-main {
  width: 410px;
  height: 325px;
  border-radius: 16px;
  background-color: #5490f533;
}
.vcm-two {
  background-color: #c6e4d6;
}
.vcm-three {
  background-color: #f7ebcf;
}
.vision-card-img {
  margin: 32px 0 0 32px;
  width: 64px;
  height: 64px;
}
.vision-card-text {
  margin: 24px 32px;
}
.vision-card-text-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0e;
}
.vision-card-text-btn {
  width: 122px;
  height: 41px;
  margin-top: 24px;
  background-color: #5490f5;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  border: none;
}
.vision-card-text-btn:hover {
  background-color: #87e6f7;
  color: #0e0e0e;
  transition: 0.4s;
}
.vct-btn-two {
  background-color: #09a15c;
}
.vct-btn-three {
  background-color: #ffc239;
}
.vision-quote {
  margin-top: 32px;
  border: 1px solid #0e0e0e26;
  border-radius: 16px;
  padding: 48px 24px;
  background-color: #ffffff;
  background-image: url(./images/quote-bg.png);
  background-repeat: no-repeat;
  background-position: 24px 26px;
}
.vision-quote-name {
  margin-top: 12px;
}
.vision-quote-name-title {
  margin: 12px 0;
  font-weight: 600;
  font-size: 20px;
  color: #0e0e0e;
  opacity: 80%;
}
/* vision section end */
/* opinion section start */
.opinion {
  /* padding-top: 80px; */
  /* height: 547px; */
}
.opinion-content {
  background-color: #ffff;
  height: 409px;
  padding: 32px;
}

.opinion-tb {
  width: 1216px;
  height: 403px;
  border: 1px solid #0e0e0e26;
  border-collapse: collapse;
}
.opinion-th {
  padding: 0 24px;
  height: 72px;
  background-color: #c6e4d6;
  font-weight: 600;
  font-size: 20px;
  color: #0e0e0e;
}
.th-1 {
  text-align: left;
}
.tb-data {
  height: 92px;
  padding: 0 24px;
  border: 1px solid #0e0e0e26;
  border-collapse: collapse;
  font-weight: 600;
  font-size: 16px;
  color: #0e0e0e;
}
.td-2 {
  width: 200px;
  height: 92px;
  text-align: center;
}
.tb-data-btn {
  width: 152px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #0e0e0e;
  background-color: #c6e4d6;
  font-weight: 600;
  font-size: 16px;
  color: #0e0e0e;
}
/* opinion section end */

/* News section start */
.news {
  padding: 80px 0;
}
.news-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.news-main {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  gap: 32px;
  border-radius: 24px;
}
.new-main-2 {
  padding: 0 48px;
}
.news-main-image {
  width: 408px;
  height: 306px;
  padding: 48px 0 48px 48px;
}
.news-main-img {
  border-radius: 24px;
}
.news-main-text {
  width: 744px;
  height: 290px;
  padding: 56px 48px 56px 0px;
}
.news-main-text-title {
  font-weight: 700;
  font-style: 32px;
  color: #0e0e0e;
  opacity: 80%;
  padding-bottom: 12px;
}
.news-main-text .date-time {
  display: flex;
  gap: 12px;
  padding: 12px 12px 12px 0;
}
.news-main-text-btn {
  width: 139px;
  height: 48px;
  background-color: #006a50;
  border-radius: 8px;
  margin-top: 13px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  color: #ffff;
}
.news-main-text-btn:hover {
  background-color: #7ae9cd;
  font-size: 18px;
  color: #111010;
  transition: 0.5s;
}
/* News section end */

/* donate section start */
.donate {
  text-align: center;
}
.donate-card {
  padding: 32px 104px;
}
.donate-card-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 32px;
}
.donate-card-text {
  height: 128px;
  background-color: #ffff;
  border: 1px solid #0e0e0e26;
  border-radius: 16px;
}
.donate-card-text:hover {
  background-color: #c6e4d6;
  transition: 0.3s;
}
.bg-active {
  border-radius: 16px;
  background-color: #c6e4d6;
}
.bg-active:hover {
  background-color: #ffff;
  transition: 0.3s;
}

.donate-card-text-title {
  font-weight: 700;
  font-size: 40px;
  color: #0e0e0e;
  opacity: 80%;
  padding: 40px;
}
.donate-input {
  width: 1032px;
  height: 64px;
  background-color: #ffff;
  border: 1px solid #0e0e0e18;
  font-weight: 400;
  font-size: 20px;
  color: #0e0e0e4d;
  text-align: center;
  margin-bottom: 32px;
}
.donate-btn {
  width: 151px;
  height: 56px;
  background-color: #006a50;
  border: 1px solid #0e0e0e18;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  color: #ffff;
  text-align: center;
}
.donate-btn:hover {
  background-color: #bdece0;
  border: 1px solid #0e0e0e18;
  color: #0e0e0e;
  transition: 0.3s;
}
/* donate section end */
/* newslatter section start */
.newslatter {
  display: flex;
  align-items: center;
  height: 400px;

  margin: 80px 0;
  background-color: #c6e4d6;
  text-align: center;
}
.newslatter-main {
  padding: 80px 265px 50px;
  width: 750px;
}
.newslatter-content {
  display: flex;
  margin-bottom: 24px;
}
.newslatter-input {
  width: 600px;
  height: 56px;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  color: #0e0e0e4d;
  padding-left: 40px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.newslatter-submit {
  width: 150px;
  height: 56px;
  background-color: #006a50;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
}
.newslatter-submit:hover {
  background-color: #35f7c6;

  color: #0e0e0e;
  transition: 0.3s;
}
/* newslatter section end */
/* main part end */

/* footer part start */

.footer{
 margin: auto 0;
  height: 226px;
  text-align: center;
  background-color: #fff;
}
.footer-head{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 40px;
  
}
.footer-title{
  width: 1122px;
  padding-bottom: 30px;
border-bottom: 2.5px solid #b8b3b33b;
}
.footer-icon{
  display: flex;
  justify-content: center;
  gap: 24px;
}
/* footer part end */
